<!DOCTYPE html>
<html lang="en" ng-app="jwt">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<h1>Welcome</h1>
<div ng-controller="IndexController as index">
 <button type="button" ng-click="index.test()">Testuj API po zalogowaniu</button>
</div>

<div ng-controller="IndexController as index">
	<button type="button" ng-click="index.test2()">Testuj API bez tokena</button>
</div>

<script src="bower_components/angular/angular.js" type="application/javascript"></script>
<script src="bower_components/lodash/lodash.js" type="application/javascript"></script>
<script src="bower_components/restangular/dist/restangular.js" type="application/javascript"></script>
<script src="bower_components/ngstorage/ngStorage.js" type="application/javascript"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js" type="application/javascript"></script>
<script src="bower_components/restangular/dist/restangular.js" type="application/javascript"></script>


<script src="src/index.module.js" type="application/javascript"></script>
<script src="src/index.config.js" type="application/javascript"></script>
<script src="src/index.constants.js" type="application/javascript"></script>
<script src="src/index.run.js" type="application/javascript"></script>
<script src="src/index.factory.js" type="application/javascript"></script>
<script src="src/index.controller.js" type="application/javascript"></script>


</body>
</html>